.picData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#header {
    padding: 3em 0 0.1em 0;
}
.des{
    padding: 2%;
    text-align: justify;
}
.work{
    display:flex;
    flex-direction: column;
}
.work-content{
    display:flex;
    flex-direction: column;
}
.work-content:last-child > hr{display:none;}
@media screen and (min-width: 1024px){
    header > h1{
        margin-left: 2%;
    }
    .thumbnail{
        width:30%;
        height:290px;
        background-size: cover!important;
    }
    .tiles{
        padding-left: 5%;
        padding-right: 5%;
    }
    .job-title{
        display:flex;
    }
    #app > .inner{
        width:80%;
        margin:0 auto;
    }
    .row{
        margin-top: 0;
        margin-left: -2em;
        background: #212121;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        color: #d0d0d0;
    }
}
@media screen and (max-width: 1023px){
    header > h1{
        margin-left: 2%;
    }
    .thumbnail{
        width:30%;
        height:250px;
        background-size: cover!important;
    }
    .tiles{
        padding-left: 5%;
        padding-right: 5%;
    }
    .job-title{
        display:flex;
    }
}
@media screen and (max-width: 720px){
    header > h1{
        margin-left: 2%;
    }
    .thumbnail{
        width:40%;
        height:200px;
        background-size: cover!important;
    }
    .tiles{
        padding-left: 5%;
        padding-right: 5%;
    }
    .job-title{
        display:flex;
    }
}
@media screen and (max-width: 480px){
    #header{
        padding:0px;
    }
    #header .logo{
        margin-top:20px;
    }
    header > h1{
        padding-left: 5%;
        margin: 0px;
    }
    #main{
        padding-top:105px;
        padding-bottom: 0px;
        background:#000;
        color: #d6d6d6;
    }
    #header > .inner{
        background: #000;
        position: fixed;
        z-index: 999;
    }
    #header > .inner > nav{margin:2%;}
    .thumbnail{
        width:40%;
        height:135px;
        background-size: cover!important;
    }
    .title{color:#fff;}
    .des{
        padding:5%;
    }
    .tiles{
        padding-left: 5%;
        padding-right: 5%;
    }
    .join{
        margin-top:20px;
    }
    .job-title > h2{margin:0;}
    .job-title{
        color: #fff;
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .meinf{
        background: #1d1d1d;
        margin: 4%;
        padding: 4%;
        border-radius: 10px;
    }
    .meinf > h1{
        color: #ff9234;
        font-size: 23px;
    }
    .job,.join{
        background: #1d1d1d;
        padding: 4%;
        border-radius: 10px;
    }
    #footer{
        background: #000;
        color: #9c9c9c;
        padding-top: 10px;
    }
}

