@charset "utf-8";
/* CSS Document */


@media (max-width: 759px) {
    .header .block:nth-child(1){
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
}
@media (max-width: 768px) {
    *{margin:0;padding:0;}
    body {font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;height:100%;margin:0;}
    .wrap{margin:0 auto;background: #d3edfb;border: 1px solid #dedede;}
    .header{}
    .block{
        display: flex;
    }
    .header > .block > .inf {display: none;}
    .header .block:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    .pageTitle{color:#fff;margin: 0 auto;font-size: 1.3em;}
    .header .block:nth-child(2){
        flex-direction: column;
        justify-content: space-around;
        margin-top:10px;
        width: 100%;
        height:1200px;
        background:url("../img/kv-bg.png")no-repeat center;
        background-size: cover;
    }

    .header .block:nth-child(2) > .cnt > .map{
        background: url("../img/kv-map.png")no-repeat;
        background-size: contain;
        position: absolute;
        width:100%;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .home{
        background: url("../img/kv-home.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .people{
        background: url("../img/kv-people.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .slogan{
        background: url(../img/kv-title.png)no-repeat center;
        height: 400px;
        margin-top: 390px;
    }
    .header .block:nth-child(2) > .cnt{
        width:100%;
    }
    .header .block:nth-child(2) > .cnt:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .header .block:nth-child(2) > .cnt > .link{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .header .block:nth-child(2) > .cnt > .link > .agent{
        background: url("../img/agent.png")no-repeat;
        background-size: contain;
        width: 350px;
        height: 90px;
        margin-top:40px;
    }
    .header .block:nth-child(2) > .cnt > .link > .gotoBank{
        background: url("../img/gotoBank.png")no-repeat;
        background-size: contain;
        width: 350px;
        height: 90px;
        margin-top:40px;
    }
    .inf{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inf p{color:#fff;padding: 20px;}
    .content{
        width:100%;
        height:800px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    }
    .content > .container > .title-rent{
        background: url("../img/title-1.png")no-repeat;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .content > .container > .title-back{
        background: url("../img/title-2.png")no-repeat;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .content > .block{
        display: flex;
        flex-direction: column;
    }
    .content > .container{
        width:1000px;
        margin:0 auto;
    }
    .content > .container > .block {
        display: flex;
        align-items: center;
    }
    .content > .container > .block > .cnt{
        display: flex;
        flex: 1;
    }
    .content:nth-child(4) > .container > .block > .cnt{
        flex-direction:column;
        height: 385px;
        align-items: center;
    }
    .aarow-right{
        background: url("../img/arrow-right.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .aarow-left{
        background: url("../img/arrow-left.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .cnt-text{
        width: 350px;
        font-size: 1em;
        margin: 30px;
    }
    .cnt-a{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-b{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-c{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-analy-left{
        background: url("../img/chart-1.png")no-repeat;
        width:400px;
        height:400px;
    }
    .cnt-analy-right{
        background: url("../img/chart-2.png")no-repeat;
        width:400px;
        height:400px;
    }
    .condition-1{
        background: url("../img/condition-1.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-2{
        background: url("../img/condition-2.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-3{
        background: url("../img/condition-3.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condtext{
        font-size: 1em;
        width: 187px;
    }
    .content:nth-child(4) > .container > .block > .cnt > p{
        width: 200px;
        margin-top: 20px;
        font-size: 13px;
        text-indent: -9px;
    }
    .advantage{
        background: url("../img/advantage.png")no-repeat;
        background-size: contain;
        width: 700px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .advantageLink{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .knowledge{
        background: url(../img/btn-knowledge.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .product{
        background: url(../img/btn-more.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .hintTitle{
        padding: 50px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .tra{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #000 transparent transparent transparent;
        margin-left:20px;
        margin-top:8px;
    }
    .hintContent ul{
        list-style: decimal;
    }
    .siteInf{
        color:#fff;
    }
}
@media (min-width: 1024px) {
    *{margin:0;padding:0;}
    body {font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;height:100%;margin:0;}
    .wrap{margin:0 auto;background: #d3edfb;border: 1px solid #dedede;}
    .header{}
    .block{
        display: flex;
    }
    .header .block:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #0095bd;
        height:50px;
        width: 100%;
    }
    .pageTitle{margin-left:2%;color:#fff;}
    .header .block:nth-child(2){
        flex-direction: row;
        justify-content: space-around;
        margin-top:10px;
        width: 100%;
        height:600px;
        background:url("../img/kv-bg.png")no-repeat;
        background-size: cover;
    }
    .header .block:nth-child(2) > .cnt{
        width:50%;
    }
    .header .block:nth-child(2) > .cnt > .map{
        background: url("../img/kv-map.png")no-repeat;
        position: absolute;
        width: 790px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .home{
        background: url("../img/kv-home.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .people{
        background: url("../img/kv-people.png")no-repeat;
        position: absolute;
        width: 689px;
        height: 600px;
        top: 91px;
    }
    .header .block:nth-child(2) > .cnt > .slogan{
        background: url("../img/kv-title.png")no-repeat;
        width: 400px;
        height: 400px;
        margin-left: 80px;
        margin-top: 90px;
    }
    .header .block:nth-child(2) > .cnt:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .header .block:nth-child(2) > .cnt > .link{
        display: flex;
        flex-direction: row;
        margin-left: 80px;
    }
    .header .block:nth-child(2) > .cnt > .link > .agent{
        background: url("../img/agent.png")no-repeat;
        background-size: contain;
        width: 180px;
        height: 50px;
    }
    .header .block:nth-child(2) > .cnt > .link > .gotoBank{
        background: url("../img/gotoBank.png")no-repeat;
        background-size: contain;
        width: 180px;
        height: 50px;
        margin-left:20px;
    }
    .inf{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .inf p{color:#fff;padding: 20px;}
    .content{
        width:100%;
        height:800px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    }
    .content > .container > .title-rent{
        background: url("../img/title-1.png")no-repeat;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .content > .container > .title-back{
        background: url("../img/title-2.png")no-repeat;
        width: 640px;
        height: 90px;
        margin: 0px auto;
        margin-top:55px;
    }
    .content > .block{
        display: flex;
        flex-direction: column;
    }
    .content > .container{
        width:1000px;
        margin:0 auto;
    }
    .content > .container > .block {
        display: flex;
        align-items: center;
    }
    .content > .container > .block > .cnt{
        display: flex;
        flex: 1;
    }
    .content:nth-child(4) > .container > .block > .cnt{
        flex-direction:column;
        height: 385px;
        align-items: center;
    }
    .aarow-right{
        background: url("../img/arrow-right.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .aarow-left{
        background: url("../img/arrow-left.png")no-repeat center;
        background-size: contain;
        width:25px;
        height: 150px;
    }
    .cnt-text{
        width: 350px;
        font-size: 1em;
        margin: 30px;
    }
    .cnt-a{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-b{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-c{
    background: url("../img/cont1-a.png")no-repeat;
    background-size: contain;
    width:400px;
    height:150px;
    }
    .cnt-analy-left{
        background: url("../img/chart-1.png")no-repeat;
        width:400px;
        height:400px;
    }
    .cnt-analy-right{
        background: url("../img/chart-2.png")no-repeat;
        width:400px;
        height:400px;
    }
    .condition-1{
        background: url("../img/condition-1.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-2{
        background: url("../img/condition-2.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condition-3{
        background: url("../img/condition-3.png")no-repeat;
        width:200px;
        height:200px;
        margin: 20px;
    }
    .condtext{
        font-size: 1em;
        width: 187px;
    }
    .content:nth-child(4) > .container > .block > .cnt > p{
        width: 200px;
        margin-top: 20px;
        font-size: 13px;
        text-indent: -9px;
    }
    .advantage{
        background: url("../img/advantage.png")no-repeat;
        background-size: contain;
        width: 700px;
        height: 200px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .advantageLink{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .knowledge{
        background: url(../img/btn-knowledge.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .product{
        background: url(../img/btn-more.png)no-repeat;
        background-size: contain;
        width: 220px;
        height: 80px;
    }
    .hintTitle{
        padding: 50px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .tra{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #000 transparent transparent transparent;
        margin-left:20px;
        margin-top:8px;
    }
    .hintContent ul{
        list-style: decimal;
    }
    .siteInf{
        color:#fff;
    }
}
 @media (max-height: 415px) and (orientation: Landscape){
    .addFavorite{height:min-content;}
}